.history-container {
  height: 100vh;
  color: #fff;
  border: 1px solid rgb(172, 168, 168, 0.1);
  background: #1a1a1a;
  margin-bottom: 10px;
  padding: 5px;
}

.history-nav {
  margin: 15px 0;
}

.history-content {
  padding: 20px;
  border-radius: 8px;
  background-color: #242323;
  border: 1px solid rgb(172, 168, 168, 0.1);
  color: #fff;
  margin-bottom: 5px;
}

.history-icons {
  font-size: 25px;
  opacity: 0.6;
}

.history-icons:hover {
  opacity: 0.8;
}

.fallback-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  font-size: 20px;
  opacity: 0.6;
}
