* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  height: 100vh;
  width: 100%;
  background-color: #0b1120;
  padding-top: 60px;
  color: white;
}

.nav-box {
  background: #111928bf;
  padding: 20px 42px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px) and (max-width: 1020px) {
  .nav-box {
    width: 70vw;
    display: flex;
    justify-content: center;
  }
}

.nav-link-custom {
  color: #ffffffcc;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

.nav-link-custom:hover {
  color: white;
}

.welcome-text {
  letter-spacing: 1.6px;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.9;
}

.hero-title {
  font-weight: 700;
  margin-top: 10px;
  line-height: 1.3;
}

@media (max-width: 768px) {
  .hero-title {
    max-width: 90vw;
  }
}

.gradient-text {
  color: oklch(0.827 0.119 306.383);
}

/* Mobile: 0px – 480px */
@media (max-width: 480px) {
  .hero-title {
    font-size: 32px;
  }
}

/* Large Mobile / Small Tablets: 481px – 768px */
@media (min-width: 481px) and (max-width: 768px) {
  .hero-title {
    font-size: 40px;
  }
}

/* Tablets: 769px – 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .hero-title {
    font-size: 48px;
  }
}

/* Small Laptops: 1025px – 1440px */
@media (min-width: 1025px) and (max-width: 1440px) {
  .hero-title {
    font-size: 60px;
  }
}

/* Desktop: 1441px and up */
@media (min-width: 1441px) {
  .hero-title {
    font-size: 72px;
  }
}

.subtitle {
  margin-top: 16px;
  font-weight: 600;
  color: oklch(0.932 0.032 255.585);
  letter-spacing: 1.6px;
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 14px;
  }
}

@media (min-width: 769px) {
  .subtitle {
    font-size: 22px;
  }
}

.get-started-btn {
  padding: 14px 72px;
  border-radius: 10px;
  border: 1px solid #605dc6;
  background: #000;
  color: white;
  font-size: 16px;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 855px) {
  .get-started-btn {
    width: 90vw;
  }
}
@media (min-width: 856px) {
  .get-started-btn {
    margin-top: 50px;
  }
}

.get-started-btn:hover {
  background: #0b1120;
  box-shadow: 1px 1px 2px #605dc6;
}

.arrow {
  margin-left: 6px;
}
